<div class="courses-containers">
    <div class="courses-list">
        <mat-card>
            <mat-card-header>
                <mat-card-title>
                    Course List
                </mat-card-title>
            </mat-card-header>
            <mat-card-content>

                <!-- COURSES LIST -->
                <mat-list-item *ngFor="let course of courses" (click)="selectCourse(course)">
                    <h3 matLine>{{course.title}}</h3>
                    <p matLine>{{course.description}}</p>
                    <button mat-icon-button color="warn"
                        (click)="deleteCourse(course.id);$event.stopImmediatePropagation()">
                        <mat-icon>delete</mat-icon>
                    </button>
                </mat-list-item>
            </mat-card-content>
        </mat-card>
    </div>

    <div class="course-details">
        <mat-card>
            <mat-card-header>
                <mat-card-title>
                    Select Course
                </mat-card-title>
            </mat-card-header>
            <mat-card-content>



                <span *ngIf="currentCourse;else elseBlock">{{currentCourse.title}}</span>

                <form #form="ngForm" (submit)="saveCourse()">
                    <mat-form-field>
                        <input matInput placeholder="title" type="text" name="title"
                            [(ngModel)]="currentCourse.title"  required/>
                    </mat-form-field>

                    <mat-form-field>
                        <input matInput placeholder="description" type="text" name="description"
                            [(ngModel)]="currentCourse.description" />
                    </mat-form-field>
                </form>
                <ng-template #elseBlock>
                    select a course
                </ng-template>

            </mat-card-content>
            <mat-card-actions>

                <!-- COURSE ACTIONS -->
                <button type="submit" mat-button class="btn-primary" [disabled]="!form.valid">Submit</button>
                <button type="button" mat-button (click)="cancel()">Reset</button>
                
            </mat-card-actions>
        </mat-card>
    </div>
</div>