<mat-card>
  <mat-card-header>
      <mat-card-title>
          Course List
      </mat-card-title>
  </mat-card-header>
  <mat-card-content>

      <!-- COURSES LIST -->
      <mat-list-item *ngFor="let course of courses" (click)="courseSelected.emit(course)">
          <h3 matLine>{{course.title}}</h3>
          <p matLine>{{course.description}}</p>
          <button mat-icon-button color="warn"
              (click)="courseDeleted.emit(course.id);$event.stopImmediatePropagation()">
              <mat-icon>delete</mat-icon>
          </button>
      </mat-list-item>
  </mat-card-content>
</mat-card>