<mat-card>
    <mat-card-header>
      <mat-card-title>
        Course Outline
      </mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <!-- LESSON LIST -->
        
        <mat-list-item *ngFor="let lesson of courseLessons"  (click)="selectLesson(lesson)">
          <p>{{lesson.title}}</p>
        </mat-list-item> 
      
    </mat-card-content>
  </mat-card>


  <mat-card>
    <mat-card-title>

    </mat-card-title>

    <mat-card-content>
      <span *ngIf="currentLesson;else elseBlock" >{{currentLesson.title}}</span>
      <ng-template #elseBlock>
        select a lesson
      </ng-template>
      
    </mat-card-content>
    <mat-card-footer>
      
    </mat-card-footer>

  </mat-card>
